<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminLayout}">

<head>
<title>Admin - Dashboard</title>
</head>
<body>
	<section layout:fragment="content-header">
		<h1>[[#{title.dashboard}]]</h1>
		<div th:if="${info}"
			class="col-md-3 alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<p>
				<i class="icon fa fa-info"></i> <span th:text="${info}">Info</span>
			</p>
		</div>

		<div th:if="${error}"
			class="col-md-3 alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<p>
				<i class="icon fa fa-ban"></i> <span th:text="${error}">Error</span>
			</p>
		</div>

		<div id="dashboard-report-range" class="pull-right tooltips btn"
			data-container="body" data-placement="bottom"
			data-original-title="Change dashboard date range"
			style="margin-top: -30px;">
			<i class="fa fa-calendar"></i>&nbsp; <span
				class="thin uppercase hidden-xs"></span>&nbsp; <i
				class="fa fa-angle-down"></i>
		</div>

	</section>

	<div layout:fragment="content">
		<!-- Small boxes (Stat box) -->
		<div class="row">
			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3 id="newOrderNumber"></h3>
						<p>New Orders</p>
					</div>
					<div class="icon">
						<i class="ion ion-bag"></i>
					</div>
					<a href="#" th:href="@{/admin/orders}" class="small-box-footer">More
						Orders <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-green">
					<div class="inner">
						<h3 id="newProductNumber"></h3>
						<p>New Products</p>
					</div>
					<div class="icon">
						<i class="fa fa-coffee"></i>
					</div>
					<a href="#" th:href="@{/admin/products}" class="small-box-footer">More
						Products <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-yellow">
					<div class="inner">
						<h3 id="income"></h3>
						<p>Income</p>
					</div>
					<div class="icon">
						<i class="fa fa-yen"></i>
					</div>
					<a href="#" class="small-box-footer">More info <i
						class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-red">
					<div class="inner">
						<h3 id="bestProductName"></h3>
						<p>Best sell</p>
					</div>
					<div class="icon">
						<i class="ion ion-stats-bars"></i>
					</div>
					<a href="#" class="small-box-footer">More Product info <i
						class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-8">
				<!-- LINE CHART -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Income Chart</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<div class="box-body chart-responsive">
						<div class="chart" id="line-chart" style="height: 260px;"></div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

				<!-- BAR CHART -->
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Sold products</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<div class="box-body chart-responsive">
						<div class="chart" id="bar-chart" style="height: 260px;"></div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

				<!-- TABLE: LATEST ORDERS -->
				<div class="box box-danger">
					<div class="box-header with-border">
						<h3 class="box-title">Latest Orders</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							<table class="table no-margin">
								<thead>
									<tr>
										<th style="width: 40px">ID</th>
										<th th:text="#{label.customer_name}">Customer Name</th>
										<th th:text="#{label.phone_number}">Phone Number</th>
										<th th:text="#{label.order_status}">Order Status</th>
										<th th:text="#{label.created_at}">Created At</th>
										<th th:text="#{label.total}">Net Price</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="order,iterStat : ${latestOrders}">
										<td th:text="${order.orderId}">1</td>
										<td th:text="${order.customerName}">Customer Name</td>
										<td th:text="${order.customerPhone}">Customer Phone</td>
										<td th:switch="${order.status.value}"><span th:case="'1'"
											class="label label-warning" th:text="${order.status}">ORDERED</span>
											<span th:case="'2'" class="label label-info"
											th:text="${order.status}">SHIPPING</span> <span th:case="'3'"
											class="label label-success" th:text="${order.status}">FINISHED</span>
											<span th:case="'0'" class="label label-danger"
											th:text="${order.status}">CANCELED</span></td>
										<td
											th:text="${#dates.format(order.createdAt, 'yy年M月dd日 a hh時mm分')}">Created
											At</td>
										<td th:text="${order.netPrice}">Price</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.box-body -->
					<div class="box-footer clearfix">
						<a href="javascript:void(0)"
							class="btn btn-sm btn-info btn-flat pull-left">REFRESH</a> <a
							th:href="@{/admin/orders}"
							class="btn btn-sm btn-default btn-flat pull-right">View All
							Orders</a>
					</div>
					<!-- /.box-footer -->
				</div>
			</div>
			<!-- /.col -->
			<div class="col-md-4">
				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title">Order Total</h3>

						<div class="box-tools pull-right">
							<span data-toggle="tooltip" title="" class="badge bg-yellow"
								data-original-title="Orders" id="totalOrders"></span>
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body chart-responsive">
						<div class="chart" id="orderPieChart"
							style="height: 260px; position: relative;"></div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

				<div class="box box-danger">
					<div class="box-header with-border">
						<h3 class="box-title">Sold Products</h3>
						<div class="box-tools pull-right">
							<span data-toggle="tooltip" title="" class="badge bg-red"
								data-original-title="Products" id="totalProducts"></span>
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body chart-responsive">
						<div class="chart" id="productPieChart"
							style="height: 260px; position: relative;"></div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

				<!-- PRODUCT LIST -->
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">New Products</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<ul class="products-list product-list-in-box">
							<li class="item">
								<div class="product-img">
									<img src="" alt="Product Image">
								</div>
								<div class="product-info">
									<a href="#" th:href="@{/admin/products}" class="product-title">Samsung
										TV <span class="label label-primary pull-right">$1800</span>
									</a> <span class="product-description"> Samsung 32" 1080p
										60Hz LED Smart HDTV. </span>
								</div>
							</li>
							<!-- /.item -->
						</ul>
					</div>
					<!-- /.box-body -->
					<div class="box-footer text-center">
						<a href="#" th:href="@{/admin/products}" class="uppercase">View
							All Products</a>
					</div>
					<!-- /.box-footer -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		<!-- /.row -->
	</div>

	<th:block layout:fragment="script">
		<script th:src="@{'/assets/custom/js/dashboard.js'}"></script>
	</th:block>
</body>

</html>