
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminLayout}">

<head>
<title>Admin - Product</title>
</head>
<body>
	<section layout:fragment="content-header">
		<h1>
			Products <small>Info Product</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#" th:href="@{/admin/products}">Products</a></li>
			<li class="active">Info</li>
		</ol>
		<div th:if="${info}"
			class="col-md-3 alert alert-info alert-dismissable alert-hide">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<p>
				<i class="icon fa fa-info"></i> <span th:text="${info}">Info</span>
			</p>
		</div>
		<div class="message">
			<div class="col-md-3 alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				<p>
					<i class="icon fa fa-info"></i> <span id="showMessage"></span>
				</p>
			</div>
		</div>
	</section>

	<div layout:fragment="content">
		<div class="row product-content">
			<div class="col-md-3"></div>
			<!-- content -->
			<div class="col-md-6">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title" th:text="#{title.info_product}">Info
							Product</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<img alt="Product Image" id="productImage" class="img-product"
									th:src="@{/admin/products/images(image=${product.imageUrl})}" />
								
							</div>
							<div class="col-md-6">
								<div>
									<input id="productId" th:value="${product.productId}"
										type="hidden" />
								</div>
								<div>
									<label th:text="#{label.product_name}">Name: </label> <span
										th:text="${product.productName}"></span>
								</div>
								<div>
									<label th:text="#{label.product_price}">Price: </label> <span
										th:text="${product.price}"></span>
								</div>
								<div>
									<label th:text="#{label.product_type}">Type: </label> <span
										th:text="${product.productType}"></span>
								</div>
								<div>
									<label th:text="#{label.product_description}">Description:
									</label> <span th:text="${product.description}"></span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 align-items-center justify-content-center" >
								<button type="button" class="btn btn-default" 
									data-toggle="modal" data-target="#modal-update-image"
									th:text="#{button.update_product_image}">Update Image</button>
							</div>
							<div class="col-md-3">
								<div class="input-group">
									<a class="btn btn-primary"
										th:href="@{/admin/products/{productId}/update(productId=${product.productId})}"
										th:text="#{button.update_product_info}">Update Info</a>
								</div>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-danger" data-toggle="modal"
									data-target="#modal-delete-confirm" th:text="#{button.delete}">
									Delete</button>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- /.content -->
			<div class="col-md-3"></div>
		</div>

		<!-- Update image Modal content-->
		<div class="modal fade" id="modal-update-image">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" th:text="#{title.update_image}">Update
							image</h4>
					</div>
					<div class="modal-body">
						<div class="box-body">
							<form role="form" id="updateImageForm" th:method="patch"
								enctype="multipart/form-data">

								<!-- hidden csrf -->
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />

								<!-- bootstrap-imageupload. -->
								<div class="form-group">
									<label for="image" th:text="#{label.product_image}">Image</label>
									<div class="imageupload panel panel-default">
										<div class="file-tab panel-body">
											<label class="btn btn-primary btn-file"> <span
												th:text="#{button.search}" class="span-search">Browse</span>
												<input type="file" class="form-control" name="image"
												required />
											</label> <span th:text="#{button.change}" class="span-change"
												style="display: none;">change</span>
											<button type="button" class="btn btn-danger"
												th:text="#{button.delete}">Remove</button>
										</div>
									</div>
									<p id="hasError" th:class="text-red"></p>
								</div>

							</form>
						</div>
						<!-- /.box-body -->

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left"
							data-dismiss="modal" th:text="#{button.cancel}">Cancel</button>
						<button type="button" id="btnUpdateImage" class="btn btn-primary"
							form="updateImage" th:text="#{button.save_change}">Save
							changes</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!-- Delete confirm Modal content-->
		<div class="modal fade" id="modal-delete-confirm">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" th:text="#{title.delete_product}">Delete
							Product</h4>
					</div>
					<div class="modal-body">
						<div class="box-body">
							<h4 class="modal-title" th:text="#{info.confirm_delete_product}">Do
								you really want to delete this Product?</h4>
						</div>
						<!-- /.box-body -->

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left"
							data-dismiss="modal" th:text="#{button.cancel}">Cancel</button>
						<form role="form"
							th:action="@{/admin/products/{productId}(productId=${product.productId})}"
							th:method="delete">
							<div>
								<button type="submit" class="btn btn-danger"
									th:text="#{button.delete}">
									<i class="fa fa-delete"></i> Delete
								</button>
							</div>
						</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</div>
	<th:block layout:fragment="script">
		<script th:src="@{'/assets/custom/js/admin-product.js'}"></script>
	</th:block>

</body>

</html>