
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminLayout}">

<head>
<title>Admin - Product</title>
</head>
<body>
	<section layout:fragment="content-header">
		<h1>
			Products <small>Info Product</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#" th:href="@{/admin/products}">Products</a></li>
			<li class="active">Info</li>
		</ol>
		<div th:if="${info}"
			class="col-md-3 alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<p>
				<i class="icon fa fa-info"></i> <span th:text="${info}">Info</span>
			</p>
		</div>

		<div th:if="${error}"
			class="col-md-3 alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<p>
				<i class="icon fa fa-ban"></i> <span th:text="${error}">Error</span>
			</p>
		</div>
	</section>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-3"></div>
			<!-- content -->
			<div class="col-md-6">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Info Product</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<img src="/assets/custom/img/default-image.png"
									alt="Product Image"
									th:src="@{/admin/products/images(image=${resource.imageUrl})}"
									class="img-product" />
							</div>
							<div class="col-md-6">
								<div>
									<p>
										<span>Name: </span> <span th:text="${resource.productName}"></span>
									</p>
									<p>
										<span>Price: </span> <span th:text="${resource.price}"></span>
									</p>
									<p>
										<span>Type: </span> <span th:text="${resource.productType}"></span>
									</p>
									<p>
										<span>Description: </span> <span
											th:text="${resource.description}"></span>
									</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6"></div>
							<div class="col-md-3">
								<form role="form" th:action="@{/admin/products}"
									th:object="${product}" enctype="multipart/form-data"
									method="post">
									<div>
										<button type="submit" class="btn btn-primary">Update</button>
									</div>
								</form>
							</div>
							<div class="col-md-3">
								<form role="form" th:action="@{/admin/products/{productId}(productId=${resource.productId})}"
								th:method="delete">
									<div>
										<button type="submit" class="btn btn-danger">
											<i class="fa fa-delete"></i> Delete
										</button>
									</div>
								</form>


							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- /.content -->

			<div class="col-md-3"></div>
		</div>
	</div>

</body>

</html>