<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/big_store_template}">

<head>
<script type="text/javascript">
	function loadonstartup() {

		$.ajax({
			type : "Get",
			url : "/productpage/purecoffee/1",
			success : function(result) {
				// clear customer body
				$("#purecoffee_section").html(result);
				reloadEvent();
			},
			error : function(e) {
				alert("Error!"), console.log("ERROR: ", e);
			}
		})

		$.ajax({
			type : "Get",
			url : "/productpage/fromcoffee/1",
			success : function(result) {
				// clear customer body
				$("#fromcoffee_section").html(result);
				reloadEvent();
			},
			error : function(e) {
				alert("Error!"), console.log("ERROR: ", e);
			}
		})

		$.ajax({
			type : "Get",
			url : "/productpage/noncoffee/1",
			success : function(result) {
				// clear customer body
				$("#noncoffee_section").html(result);
				reloadEvent();
			},
			error : function(e) {
				alert("Error!"), console.log("ERROR: ", e);
			}
		})

	};
</script>
</head>
<body onload="loadonstartup();">

	<!--content-->
	<div layout:fragment="content">
		<div class="product">
			<div>
				<div class="container" id="content">
					<div th:if="${error}"
						class="col-md-3 alert alert-fix alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<i class="icon fa fa-ban"></i> <span th:text="${error}">Error</span>
					</div>
					<div class="spec">
						<h3>ピュアコーヒー</h3>
						<div class="ser-t">
							<b></b> <span style="background-color: #ecf0f5"><i></i></span> <b
								class="line"></b>
						</div>
					</div>
					<div class=" con-w3l" id="purecoffee_section"></div>
					<div class="clearfix"></div>

					<div class="spec ">
						<h3>コーヒーの味</h3>
						<div class="ser-t">
							<b></b> <span style="background-color: #ecf0f5"><i></i></span> <b
								class="line"></b>
						</div>
					</div>
					<div class=" con-w3l" id="fromcoffee_section"></div>
					<div class="clearfix"></div>

					<div class="spec ">
						<h3>コーヒーがないもの</h3>
						<div class="ser-t">
							<b></b> <span style="background-color: #ecf0f5"><i></i></span> <b
								class="line"></b>
						</div>
					</div>
					<div class=" con-w3l" id="noncoffee_section">

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
</body>
</html>