<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/big_store_template}">

<head>

</head>
<body>

	<!--content-->
	<div layout:fragment="content">
		<div th:if="${info}">
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
			<div class="col-md-4 alert alert-info alert-dismissable alert-hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				<p>
					<i class="icon fa fa-info"></i> <span th:text="${info}">Info</span>
				</p>
			</div>
		</div>
		<div class="product">
			<div>
				<div class="container" th:fragment="content" id="content">
					<!-- Cart info -->
					<div class="col-sm-1"></div>
					<div class="col-sm-5">
						<table class="table table-responsive" id="cardtable">
							<thead>
								<tr>
									<td>品名</td>
									<td>値段</td>
									<td>数</td>
									<td>全部</td>
								</tr>
							</thead>
							<tr th:each="orderProduct,iterStat : ${order.orderProductList}">
								<td title="Product Name" th:text=${orderProduct.product.productName}>Product
									Name</td>
								<td title="Unit Price" th:text=${orderProduct.product.price}>Product
									Price</td>
								<td title="Quantity" th:text=${orderProduct.quantity}>Product
									Quantity</td>
								<td title="Total" th:text="${orderProduct.quantity*orderProduct.product.price}">Total</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td title="Total" th:text="${total_check}">Total</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-5">
						<table class="table table-responsive" id="cardtable">

							<tr>
								<td title="Order Id" th:text="@{Order Id}">Order Id</td>
								<td title="Order Id" th:text=${order.orderId}>Order Id</td>
							</tr>
							<tr>
								<td title="Customer Name" th:text="@{Customer Name}">Customer
									Name</td>
								<td title="Customer Name" th:text=${order.customerName}>Customer
									Name</td>
							</tr>
							<tr>
								<td title="Customer Address" th:text="@{Customer Address}">Customer
									Address</td>
								<td title="Customer Address" th:text=${order.customerAddress}>Customer
									Address</td>
							</tr>
							<tr>
								<td title="Note" th:text="@{Note}">Note</td>
								<td title="Note" th:text=${order.note}>Note</td>
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>