<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/big_store_template}">

<head>

</head>
<body>

	<!--content-->
	<div layout:fragment="content">

		<div th:if="${info}">
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
			<div class="col-md-4 alert alert-info alert-dismissable alert-hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				<p>
					<i class="icon fa fa-info"></i> <span th:text="${info}">Info</span>
				</p>
			</div>
		</div>
		<div class="product">
			<div>
				<div class="container" th:fragment="content" id="content">
					<!-- Order status -->
					<h3 th:text=#{title.order_status}>Order Status</h3>
					<div class="row order-status" style="margin-left: 0px; margin-right: 0px;">

						<div th:switch="${order.status.value}">


							<ol th:case="'1'" class="progtrckr" data-progtrckr-steps="3">
								<li class="progtrckr-done">Ordered</li>
								<li class="progtrckr-todo">Shipping</li>
								<li class="progtrckr-todo">Finished</li>
							</ol>

							<ol th:case="'2'" class="progtrckr" data-progtrckr-steps="3">
								<li class="progtrckr-done">Ordered</li>
								<li class="progtrckr-done">Shipping</li>
								<li class="progtrckr-todo">Finished</li>
							</ol>


							<ol th:case="'3'" class="progtrckr" data-progtrckr-steps="3">
								<li class="progtrckr-done">Ordered</li>
								<li class="progtrckr-done">Shipping</li>
								<li class="progtrckr-done">Finished</li>
							</ol>
							<div th:case="*">
								<span class="label label-danger h2" th:text=${order.status}>CANCELED</span>
							</div>
						</div>
					</div>

					<!-- Order info -->
					<h3 th:text=#{title.order_info}>Order Info</h3>
					<div class="row">



						<div class="col-sm-6">
							<table class="table table-responsive" id="cardtable">
								<thead>
									<tr>
										<td th:text=#{label.product_name}>Product Name</td>
										<td th:text=#{label.product_price}>Product Price</td>
										<td th:text=#{label.quantity}>Product Quantity</td>
										<td th:text=#{label.total}>Total</td>
									</tr>
								</thead>
								<tr th:each="orderProduct,iterStat : ${order.orderProductList}">
									<td title="Product Name" th:text=${orderProduct.productName}>Product
										Name</td>
									<td title="Unit Price" th:text=${orderProduct.price}>Product
										Price</td>
									<td title="Quantity" th:text=${orderProduct.quantity}>Product
										Quantity</td>
									<td title="Total"
										th:text="${orderProduct.quantity*orderProduct.price}">Total</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td title="Total" th:text="${order.netPrice}">Total</td>
								</tr>
							</table>
						</div>
						<div class="col-sm-6">
							<table class="table table-responsive" id="cardtable">

								<tr>
									<td title="Order Id" th:text="#{label.order_id}">Order Id</td>
									<td title="Order Id" th:text=${order.orderId}>Order Id</td>
								</tr>
								<tr>
									<td title="Customer Name" th:text="#{label.customer_name}">Customer
										Name</td>
									<td title="Customer Name" th:text=${order.customerName}>Customer
										Name</td>
								</tr>
								<tr>
									<td title="Phone Number" th:text="#{label.phone_number}">Phone
										Number</td>
									<td title="Phone Number" th:text=${order.customerPhone}>Phone
										Number</td>
								</tr>
								<tr>
									<td title="Customer Address" th:text="#{label.address}">Customer
										Address</td>
									<td title="Customer Address" th:text=${order.customerAddress}>Customer
										Address</td>
								</tr>
								<tr>
									<td title="Note" th:text="#{label.note}">Note</td>
									<td title="Note" th:text=${order.note}>Note</td>
								</tr>

							</table>
						</div>
					</div>
					<div align="right" th:if="${order.status.value} == 1">

						<form style='display: inline;' th:action="@{/order/update_order}"
							method="post" th:object=${order}>
							<input type="hidden" th:field="*{orderId}"
								th:value="${order.orderId}">
							<button type="submit" class="btn btn-info"
								th:text=#{button.order.update_note}></button>
						</form>
						<button type="button" class="btn btn-danger" data-toggle="modal"
							data-target="#modal-cancel_order-confirm"
							th:text="#{button.delete}">Delete</button>
					</div>
					<div class="modal fade" id="modal-cancel_order-confirm"
						tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" th:text="#{title.order.cancel_order}"></h4>
								</div>
								<div class="modal-body">
									<div class="box-body">
										<h4 class="modal-title"
											th:text="#{title.order.cancel_order_confirm}"></h4>
									</div>
									<!-- /.box-body -->

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default pull-left"
										data-dismiss="modal" th:text="#{button.cancel}">Cancel</button>
									<div th:if="${order.status.value} == 1">
										<form role="form"
											th:action="@{/order/{orderId}(orderId=${order.orderId})}"
											th:method="patch">
											<div>
												<button type="submit" class="btn btn-danger"
													th:text=#{title.order.cancel_order}></button>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
				</div>
			</div>

			<!-- /.modal -->
		</div>

		<!-- Delete confirm Modal content-->
	</div>


</body>
</html>