<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/big_store_template}">

<head>

</head>
<body>

	<!--content-->
	<div layout:fragment="content">

		<div th:if="${info}">
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
			<div class="col-md-4 alert alert-info alert-dismissable alert-hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				<p>
					<i class="icon fa fa-info"></i> <span th:text="${info}">Info</span>
				</p>
			</div>
		</div>
		<div th:if="${error}">
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
			<div class="col-md-4 alert alert-danger alert-dismissable alert-hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				<p>
					<i class="icon fa fa-info"></i> <span th:text="${error}">Info</span>
				</p>
			</div>
		</div>
		<div class="message">
			<div class="col-md-3 alert alert-fix alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				<p>
					<i class="icon fa fa-info"></i> <span id="showMessage"></span>
				</p>
			</div>
		</div>
		<div class="product">
			<div>
				<div class="container" th:fragment="content" id="content">
					<!-- Order status -->
					<h4 style="margin-bottom: 10px;" th:text=#{title.order_status}>Order
						Status</h4>
					<div class="row order-status"
						style="margin-left: 0px; margin-right: 0px;">

						<div th:switch="${order.status.value}">


							<ol th:case="'1'" class="progtrckr" data-progtrckr-steps="3">
								<li class="progtrckr-done">Ordered</li>
								<li class="progtrckr-todo">Shipping</li>
								<li class="progtrckr-todo">Finished</li>
							</ol>

							<ol th:case="'2'" class="progtrckr" data-progtrckr-steps="3">
								<li class="progtrckr-done">Ordered</li>
								<li class="progtrckr-done">Shipping</li>
								<li class="progtrckr-todo">Finished</li>
							</ol>


							<ol th:case="'3'" class="progtrckr" data-progtrckr-steps="3">
								<li class="progtrckr-done">Ordered</li>
								<li class="progtrckr-done">Shipping</li>
								<li class="progtrckr-done">Finished</li>
							</ol>
							<div th:case="*">
								<span class="label label-danger h2" th:text=${order.status}>CANCELED</span>
							</div>
						</div>
					</div>
					<!-- /.Order status -->

					<!-- Order info -->
					<div class="row" style="margin-bottom: unset;">
						<div class="col-md-6">
							<div class="box box-solid">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{title.info_customer}">Customer
										info</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<dl class="dl-horizontal">
										<dt th:text="#{label.customer_name}">Customer Name</dt>
										<dd th:text="${order.customerName}"></dd>

										<dt th:text="#{label.phone_number}">Phone Number</dt>
										<dd th:text="${order.customerPhone}"></dd>

										<dt th:text="#{label.address}">Address</dt>
										<dd th:text="${order.customerAddress}"></dd>

										<dt th:text="#{label.note}">Note</dt>
										<dd id="orderNote" class="text-justify"
											th:text="${order.note}"></dd>
									</dl>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
						<div class="col-md-6">
							<div class="box box-solid">
								<div class="box-header with-border">
									<h3 class="box-title" th:text="#{title.info_order}">Order
										info</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<dl class="dl-horizontal">
										<dt th:text="#{label.order_id}">Order Id</dt>
										<dd th:text="${order.orderId}"></dd>

										<dt th:text="#{label.created_at}">Created At</dt>
										<dd
											th:text="${#dates.format(order.createdAt, 'hh:mm a yy年M月dd日')}"></dd>

										<dt th:text="#{label.updated_at}">Updated At</dt>
										<dd
											th:text="${#dates.format(order.updatedAt, 'hh:mm a yy年M月dd日')}"></dd>

										<dt th:text="#{label.total}">Total</dt>
										<dd th:text="${order.netPrice}"></dd>
									</dl>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
					</div>
					<!-- /.Order info -->
					<!-- List product -->
					<div class="row">
						<div class="col-md-12">
							<div class="box box-solid">
								<div class="box-body">
									<table id="productTable"
										class="table table-bordered table-striped">
										<thead>
											<tr>
												<th style="width: 10px">#</th>
												<th th:text="#{label.product_name}">Product</th>
												<th th:text="#{label.product_price}">Price</th>
												<th th:text="#{label.quantity}">Quantity</th>
												<th th:text="#{label.sub_total}">Subtotal</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="product,iterStat : ${order.orderProductList}">
												<td th:text="${iterStat.count}">1</td>
												<td th:text=${product.productName}>Product</td>
												<td th:text=${product.price}>Price</td>
												<td th:text=${product.quantity}>Product Quantity</td>
												<td th:text=${product.quantity*product.price}>Subtotal</td>

											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
					<!-- /.List product -->

					<div align="right" th:if="${order.status.value} == 1">

						<button type="button" class="btn btn-default" data-toggle="modal"
							data-target="#modal-update-order"
							th:text="#{button.update_order_status}">Update Order</button>

						<button type="button" class="btn btn-danger" data-toggle="modal"
							data-target="#modal-cancel_order-confirm"
							th:text="#{button.delete}">Delete</button>
					</div>

				</div>
			</div>
		</div>

		<!-- Update Order Modal content-->
		<div class="modal fade" id="modal-update-order">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" th:text="#{title.update_order}">Update
							Order</h4>
					</div>
					<div class="modal-body">
						<div class="box-body">
							<form role="form" id="updateOrderForm" th:method="patch"
								enctype="multipart/form-data">
								<input type="hidden" id="orderId" th:name="orderId"
									th:value="${order.orderId}" />
								<div class="form-group">
									<label th:text="#{label.note}">Note</label>
									<textarea rows="5" class="form-control" placeholder="メーモ"
										id="note" th:name="note" th:text="${order.note}"></textarea>
									<p class="errorMessage text-red"></p>
								</div>

							</form>
						</div>
						<!-- /.box-body -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left"
							data-dismiss="modal" th:text="#{button.cancel}">Cancel</button>
						<button type="button" id="btnUpdateOrder" class="btn btn-primary"
							form="updateOrderForm" th:text="#{button.save_change}">Save
							changes</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.Update Order Modal content-->

		<!-- Delete confirm Modal content-->
		<div class="modal fade" id="modal-cancel_order-confirm" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" th:text="#{title.order.cancel_order}"></h4>
					</div>
					<div class="modal-body">
						<div class="box-body">
							<h4 class="modal-title"
								th:text="#{title.order.cancel_order_confirm}"></h4>
						</div>
						<!-- /.box-body -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left"
							data-dismiss="modal" th:text="#{button.cancel}">Cancel</button>
						<div th:if="${order.status.value} == 1">
							<form role="form"
								th:action="@{/order/{orderId}(orderId=${order.orderId})}"
								th:method="patch">
								<div>
									<button type="submit" class="btn btn-danger"
										th:text=#{title.order.cancel_order}></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.Delete confirm Modal content-->
	</div>
</body>
</html>