<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/big_store_template}">

<head>

</head>
<body>

	<!--content-->
	<div layout:fragment="content">
		<div class="product">
			<div class="container" id="content" th:fragment="productList">
				<div>
					<div class="col-md-3 pro-1"
						th:each="product,iterStat : ${productList}">
						<div class="col-m">
							<a href="#" data-toggle="modal"
								th:data-target="@{#modal}+${product.productId}"
								class="offer-img"> <img
								th:src="@{/product/images(image=${product.imageUrl})}"
								class="img-responsive" alt="">
							</a>
							<div class="mid-1">
								<div class="women">
									<h6
										style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
										<a href="single.html" th:text="${product.productName}">Product
											Name</a>
									</h6>
								</div>
								<div class="mid-2">
									<p>
										<em class="item_price" th:text="${product.price}">Product
											Price</em>
									</p>
									<div class="block">
										<div class="starbox small ghosting"></div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="add">
									<button class="btn btn-danger my-cart-btn my-cart-b"
										th:data-id="${product.productId}"
										th:data-name="${product.productName}" data-summary="summary 1"
										th:data-price="${product.price}" data-quantity="1"
										th:data-image="@{/product/images(image=${product.imageUrl})}">Buy</button>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="modal fade" th:each="product,iterStat : ${productList}"
						th:id="@{modal}+${product.productId}" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content modal-info">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body modal-spa">
									<div class="col-md-5 span-2">
										<div class="item">
											<img th:src="@{/product/images(image=${product.imageUrl})}"
												class="img-responsive" alt="">
										</div>
									</div>
									<div class="col-md-7 span-1 ">
										<h3 th:text="${product.productName}">Product Name</h3>
										<p class="in-para" th:text=${product.productType}>There
											are many variations of passages of Lorem Ipsum.</p>
										<div class="price_single">
											<span class="reducedfrom " th:text=${product.price}><del>$1.00</del>$0.80</span>

											<div class="clearfix"></div>
										</div>
										<h4 class="quick">Quick Overview:</h4>
										<p class="quick_desc" th:text="${product.description}">Product
											Description es</p>

										<div class="add">
											<button class="btn btn-danger my-cart-btn my-cart-b"
												th:data-id="${product.productId}"
												th:data-name="${product.productName}"
												data-summary="summary 1" th:data-price="${product.price}"
												data-quantity="1"
												th:data-image="@{/product/images(image=${product.imageUrl})}">Buy</button>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>
</html>