<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminLayout}">

<head>
<title>Admin - Orders</title>
</head>
<body>
	<section layout:fragment="content-header">
		<h1>
			[[#{title.orders}]] <small th:text="#{title.list_orders}">List
				of Orders</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#" th:href="@{/admin}" th:text="#{title.home}"><i
					class="fa fa-dashboard"></i> Home</a></li>
			<li class="active" th:text="#{title.orders}">Orders</li>
		</ol>
		<div th:if="${info}"
			class="col-md-3 alert alert-info alert-dismissable alert-hide">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<p>
				<i class="icon fa fa-info"></i> <span th:text="${info}">Info</span>
			</p>
		</div>

		<div th:if="${error}"
			class="col-md-3 alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<p>
				<i class="icon fa fa-ban"></i> <span th:text="${error}">Error</span>
			</p>
		</div>
	</section>

	<div layout:fragment="content">
		<!-- Custom Tabs -->
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab_1" data-toggle="tab"
					th:text="#{tab.all_list}">All of list</a></li>
				<li><a href="#tab_2" data-toggle="tab"
					th:text="#{tab.active_order}">Active Order</a></li>
				<li><a href="#tab_3" data-toggle="tab"
					th:text="#{tab.inactive_order}">Inactive Order</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<!-- List Order -->
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-body">
									<table id="orderTable"
										class="table table-bordered table-striped">
										<thead>
											<tr>
												<th style="width: 10px">ID</th>
												<th th:text="#{label.customer_name}">Customer Name</th>
												<th th:text="#{label.phone_number}">Phone Number</th>
												<th th:text="#{label.order_status}">Order Status</th>
												<th th:text="#{label.created_at}">Created At</th>
												<th th:text="#{label.updated_at}">Last Updated</th>
												<th th:text="#{label.total}">Net Price</th>
												<th th:text="#{label.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order,iterStat : ${orderResourceList}">
												<td th:text="${order.orderId}">1</td>
												<td th:text="${order.customerName}">Customer Name</td>
												<td th:text="${order.customerPhone}">Customer Phone</td>
												<td th:switch="${order.status.value}"><span
													th:case="'1'" class="label label-warning"
													th:text="${order.status}">ORDERED</span> <span
													th:case="'2'" class="label label-info"
													th:text="${order.status}">SHIPPING</span> <span
													th:case="'3'" class="label label-success"
													th:text="${order.status}">FINISHED</span> <span
													th:case="'0'" class="label label-danger"
													th:text="${order.status}">CANCELED</span></td>
												<td
													th:text="${#dates.format(order.createdAt, 'yy年M月dd日 a hh時mm分')}">Created
													At</td>
												<td
													th:text="${#dates.format(order.updatedAt, 'yy年M月dd日 a hh時mm分')}">Updated
													At</td>
												<td th:text="${order.netPrice}">Price</td>
												<td><a
													th:href="@{/admin/orders/{orderId}(orderId=${order.orderId})}"
													class="btn btn-sm btn-default" th:text="#{button.info}"><i
														class="fa fa-info"></i> Info</a></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
					<!-- /.List Order -->
				</div>
				<!-- /.tab-pane -->

				<div class="tab-pane" id="tab_2">
					<!-- List Order with status ORDERED-->
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-header">
									<h4 class="box-title label label-warning">ORDERED</h4>
									<div class="box-tools pull-right">
										<!-- Collapse Button -->
										<button type="button" class="btn btn-box-tool"
											data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<table id="orderedTable"
										class="table table-bordered table-striped">
										<thead>
											<tr>
												<th style="width: 10px">ID</th>
												<th th:text="#{label.customer_name}">Customer Name</th>
												<th th:text="#{label.phone_number}">Phone Number</th>

												<th th:text="#{label.created_at}">Created At</th>
												<th th:text="#{label.updated_at}">Last Updated</th>
												<th th:text="#{label.total}">Price</th>
												<th th:text="#{label.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order,iterStat : ${orderedList}">
												<td th:text="${order.orderId}">1</td>
												<td th:text="${order.customerName}">Customer Name</td>
												<td th:text="${order.customerPhone}">Customer Phone</td>

												<td
													th:text="${#dates.format(order.createdAt, 'hh:mm a yy年M月dd日')}">Created
													At</td>
												<td
													th:text="${#dates.format(order.updatedAt, 'hh:mm a yy年M月dd日')}">Updated
													At</td>
												<td th:text="${order.netPrice}">Price</td>
												<td><a
													th:href="@{/admin/orders/{orderId}(orderId=${order.orderId})}"
													class="btn btn-sm btn-default" th:text="#{button.info}"><i
														class="fa fa-info"></i> Info</a></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
					<!-- /.List Order with status ORDERED -->

					<!-- List Order with status SHIPPING -->
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-header">
									<h4 class="box-title label label-info">SHIPPING</h4>
									<div class="box-tools pull-right">
										<!-- Collapse Button -->
										<button type="button" class="btn btn-box-tool"
											data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<table id="shippingTable"
										class="table table-bordered table-striped">
										<thead>
											<tr>
												<th style="width: 10px">ID</th>
												<th th:text="#{label.customer_name}">Customer Name</th>
												<th th:text="#{label.phone_number}">Phone Number</th>

												<th th:text="#{label.created_at}">Created At</th>
												<th th:text="#{label.updated_at}">Last Updated</th>
												<th th:text="#{label.total}">Price</th>
												<th th:text="#{label.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order,iterStat : ${shippingList}">
												<td th:text="${order.orderId}">1</td>
												<td th:text="${order.customerName}">Customer Name</td>
												<td th:text="${order.customerPhone}">Customer Phone</td>

												<td
													th:text="${#dates.format(order.createdAt, 'hh:mm a yy年M月dd日')}">Created
													At</td>
												<td
													th:text="${#dates.format(order.updatedAt, 'hh:mm a yy年M月dd日')}">Updated
													At</td>
												<td th:text="${order.netPrice}">Price</td>
												<td><a
													th:href="@{/admin/orders/{orderId}(orderId=${order.orderId})}"
													class="btn btn-sm btn-default" th:text="#{button.info}"><i
														class="fa fa-info"></i> Info</a></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
					<!-- /.List Order with status SHIPPING -->
				</div>
				<!-- /.tab-pane -->

				<div class="tab-pane" id="tab_3">
					<!-- List Order with status FINISHED-->
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-header">
									<h4 class="box-title label label-success">FINISHED</h4>
									<div class="box-tools pull-right">
										<!-- Collapse Button -->
										<button type="button" class="btn btn-box-tool"
											data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<table id="finishedTable"
										class="table table-bordered table-striped">
										<thead>
											<tr>
												<th style="width: 10px">ID</th>
												<th th:text="#{label.customer_name}">Customer Name</th>
												<th th:text="#{label.phone_number}">Phone Number</th>

												<th th:text="#{label.created_at}">Created At</th>
												<th th:text="#{label.updated_at}">Last Updated</th>
												<th th:text="#{label.total}">Price</th>
												<th th:text="#{label.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order,iterStat : ${finishedList}">
												<td th:text="${order.orderId}">1</td>
												<td th:text="${order.customerName}">Customer Name</td>
												<td th:text="${order.customerPhone}">Customer Phone</td>

												<td
													th:text="${#dates.format(order.createdAt, 'hh:mm a yy年M月dd日')}">Created
													At</td>
												<td
													th:text="${#dates.format(order.updatedAt, 'hh:mm a yy年M月dd日')}">Updated
													At</td>
												<td th:text="${order.netPrice}">Price</td>
												<td><a
													th:href="@{/admin/orders/{orderId}(orderId=${order.orderId})}"
													class="btn btn-sm btn-default" th:text="#{button.info}"><i
														class="fa fa-info"></i> Info</a></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
					<!-- /.List Order with status FINISHED -->

					<!-- List Order with status CANCELED -->
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-header">
									<span class="box-title label label-danger">CANCELED</span>
									<div class="box-tools pull-right">
										<!-- Collapse Button -->
										<button type="button" class="btn btn-box-tool"
											data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<table id="canceledTable"
										class="table table-bordered table-striped">
										<thead>
											<tr>
												<th style="width: 10px">ID</th>
												<th th:text="#{label.customer_name}">Customer Name</th>
												<th th:text="#{label.phone_number}">Phone Number</th>

												<th th:text="#{label.created_at}">Created At</th>
												<th th:text="#{label.updated_at}">Last Updated</th>
												<th th:text="#{label.total}">Price</th>
												<th th:text="#{label.action}">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order,iterStat : ${canceledList}">
												<td th:text="${order.orderId}">1</td>
												<td th:text="${order.customerName}">Customer Name</td>
												<td th:text="${order.customerPhone}">Customer Phone</td>

												<td
													th:text="${#dates.format(order.createdAt, 'hh:mm a yy年M月dd日')}">Created
													At</td>
												<td
													th:text="${#dates.format(order.updatedAt, 'hh:mm a yy年M月dd日')}">Updated
													At</td>
												<td th:text="${order.netPrice}">Price</td>
												<td><a
													th:href="@{/admin/orders/{orderId}(orderId=${order.orderId})}"
													class="btn btn-sm btn-default" th:text="#{button.info}"><i
														class="fa fa-info"></i> Info</a></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
					<!-- /.List Order with status CANCELED -->
				</div>
				<!-- /.tab-pane -->
			</div>
			<!-- /.tab-content -->
		</div>
		<!-- nav-tabs-custom -->

	</div>

	<th:block layout:fragment="script">
		<script>
			$(function() {
				//Initialize DataTable Elements
				$('#orderTable').DataTable()
				$('#orderedTable').DataTable()
				$('#shippingTable').DataTable()
				$('#finishedTable').DataTable()
				$('#canceledTable').DataTable()
			})
		</script>
	</th:block>

</body>

</html>